.container {
  display: flex;
  margin: 0 60px 40px 60px;
  transition: all 0.5s ease-out;
}
.gallery {
  display: flex;
  max-width: 58%;
  max-height: 606px;
  overflow: hidden;
}
.hidden {
  display: none;
}
.preview-list-container {
  order: -1;
  width: 90px;
  margin-right: 6px;
}
.preview-img-content {
  height: 110px;
  background: #181818;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 3.5px solid transparent;
}
.preview-img-content-active {
  border: 3.5px solid #b87100;
}
.preview-list img {
  width: 100%;
  user-select: none;
}
.viewer {
  flex: 1;
  text-align: center;
  height: 100%;
  background: #181818;
  display: flex;
  align-items: center;
  max-height: 606px;
  overflow: hidden;
}
.viewer img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  user-select: none;
}
.viewer:hover img {
  transform: scale(3);
}
.details {
  flex: 1;
  margin-left: 20px;
}
.control {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
  user-select: none;
  display: none;
}

.control-up,
.control-down {
  width: 90px;
  height: 38px;
}

.control-up {
  transform: rotateY(90);
}

.control-down {
  transform: translateY(-41px);
}

.d1 {
  height: 20px;
  overflow: hidden;
}

.d2 {
  transform: translateY(-8px) rotate(90deg);
}

.u1 {
  height: 20px;
  overflow: hidden;
}

.u2 {
  transform: translateY(6px) rotate(-90deg);
}

.control-left,
.control-right {
  width: 38px;
  height: 120px;
  transform: translateY(-100%);
}

.control-right {
  right: 20px;
}

.l1 {
  width: 20px;
  overflow: hidden;
}

.l2 {
  transform: translateX(14px) rotate(180deg);
}

.r1 {
  width: 20px;
  overflow: hidden;
}

.r2 {
  transform: translateX(-14px);
}

@media screen and (max-width: 1024px) {
  .container {
    margin: 0 20px 40px 20px;
    transition: all 0.5s ease-out;
  }
}

@media screen and (max-width: 641px) {
  .container {
    flex-direction: column;
  }
  .gallery {
    flex-direction: column;
    max-width: 100%;
    min-height: 706px;
  }
  .preview-list-container {
    order: 1;
    margin-top: 6px;
    width: 100%;
  }
  .control-up,
  .control-down {
      display: none;
  }

  .control-left,
  .control-right {
      display: flex;
  }
}
