body {
  font-family: 'Lucida Console', Monaco, monospace;
  background-color: #000;
  color: #ffba4c;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

h3 {
  line-height: 21px;
}

a {
  color: #ffba4c;
  text-decoration-line: none;
  /* text-decoration-style: solid; */
}

header {
  padding: 50px 100px;
}

.header-group {
  margin-top: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.d0 {
  top: 20%;
  left: 5%;
}

.di0 {
  margin-left: -4px;
}

.d1 {
  top: 22%;
  left: 65%;
}

.di1 {
  margin-left: -4px;
}

.d2 {
  top: 45%;
  left: 25%;
}

.di2 {
  margin-left: -14px;
}

.d3 {
  top: 65%;
  left: 75%;
}

.di3 {
  margin-left: -14px;
}

.d4 {
  top: 35%;
  left: 85%;
}

.di4 {
  margin-top: -5px;
  margin-left: -24px;
}

.desktop-icon-link {
  text-align: center;
  text-decoration: none;
  position: absolute;
}

.desktop-icon {
  width: 70px;
  height: auto;
  position: absolute;
  transform: translateY(-75px);
}

.icon-text {
  color: #ffba4c;
  margin-top: 5px;
  text-align: center;
  /* position: relative; */
}

@media screen and (max-width: 600px) {
  #desktop-icons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
  }

  .desktop-icon-link {
      position: static;
      margin: 64px 0;
  }
}

.back-button {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 0px;
  left: 0px;
  color: #ffba4c;
  font-size: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.journal-entry:hover{
  text-decoration-line: overline;
}

.journal-content {
  margin: 10px 60px;
  font-size: 20px;
}

.caption {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 8px;
  color: #b87100;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  padding: 20px;
  margin: 0 40px;
}

.gallery img {
  max-width: 400px;
  max-height: 269px;
  margin: 20px 20px;
}

